<div class="outgoing_msg">
    <div class="sent_msg">
      <p>
          Angular Forms - what is it all about?
          A large category of frontend applications are very form-intensive, especially in the case of enterprise development. Many of these applications are basically just huge forms, spanning multiple tabs and dialogs and with non-trivial validation business logic.
          
          Every form-intensive application has to provide answers for the following problems:
          
          how to keep track of the global form state
          know which parts of the form are valid and which are still invalid
          properly displaying error messages to the user so that the user knows what to do to make the form valid
          All of these are non-trivial tasks that are similar across applications, and as such could benefit from a framework.
          
          The Angular framework provides us a couple of alternative strategies for handling forms: Let's start with the option that is the closest to Angular 1
      </p>
      <span class="time_date"> 11:01 AM | June 9</span>
    </div>
  </div>